{% extends 'base.html' %}

{% block title %}home{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-xs-3">
    <h3>Reportes de: {{ user.first_name}} {{ user.last_name }}</h3>

    <div class="list-group">
      {% for reporte in reportes%}
      <a href="#" id="{{ reporte.nombre_tabla }}" onclick="obtenerReporte({{reporte.id}},'{{ reporte.nombre_tabla}}')" class="list-group-item">
          <div class="float50">{{ reporte.nombre }}</div>
          <div class="float50 text-right">
            <i class="fa fa-cubes text-right" aria-hidden="true"></i>
          </div>
          <div class="clear"></div>
      </a>
      <i class="fa fa-times delete_report" aria-hidden="true" onclick="eliminar_reporte({{ reporte.id }}, '{{ reporte.nombre }}', '{{ reporte.nombre_tabla }}'); return false;"></i>
      {%endfor%}
    </div>
  </div>

  <div class="col-xs-9">
    <nav class="navbar navbar-default" onclick="showHideColumns()" id="columns">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">Columnas</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
          <p class="navbar-text navbar-right">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </nav>
    <div class="chips"></div>

    <table class="table table-stripep table-fixed-header">
      <thead class="header">

      </thead>
      <tbody>

      </tbody>
    </table>

  </div>
</div>
{% endblock content %}
