{% extends 'base.html' %}

{% block title %}Nuevo Reporte{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-sm-offset-3">
            <div class="page-header">
                <h2>Nuevo Reporte {{ id }}  </h2>
            </div>

            <form id="nuevo_reporte" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button id="guardar" type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
{% endblock content %}
